.page-header a{
    color: black;
}
.neck{
    display: block;
    text-align: center;
}
/*img{
    width: 300px;
}*/
.share{
    text-align: center;
}
.btn-default{
    background-color: rgb(235, 164, 32);
    color: white;
}
.carousel-caption p{
    vertical-align: center;
}
.foot{
    background-color: rgb(56, 51, 51);
}
.copyright{
    color: white;
    text-align: center;
}
.link a{
    color: white;
}
.link:hover a{
    color: grey;
    text-decoration: none;
}
.float-lg-right{
    justify-content: space-between;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}